[Desktop Entry]
Categories=System;Qt;
Comment=Monitor system process status
Exec=deepin-system-monitor
GenericName=System Monitor
Icon=deepin-system-monitor
Name=Deepin System Monitor
X-Deepin-Vendor=deepin
Type=Application


# Translations
Name[de]=Deepin System Monitor
Icon[de]=deepin-system-monitor
Comment[de]=Systemprozessstatus überwachen
GenericName[de]=System Monitor
Name[zh_CN]=深度系统监视器
Icon[zh_CN]=deepin-system-monitor
Comment[zh_CN]=监控系统进程状态
GenericName[zh_CN]=系统监视器
Name[ms] = Pemantau Sistem Deepin
Icon[ms] = deepin-system-monitor
Comment[ms] = Pantau status proses sistem
GenericName[ms] = Pemantau Sistem
Name[lt] = Deepin sistemos monitorius
Icon[lt] = deepin-system-monitor
Comment[lt] = Stebėti sistemos procesų būseną
GenericName[lt] = Sistemos monitorius
Name[cs] = Sledovač systému
Icon[cs] = Sledovač systému
Comment[cs] = Stav procesu sledování systému
GenericName[cs] = Sledovač systému
Name[pt] = Deepin System Monitor
Icon[pt] = deepin-system-monitor
Comment[pt] = Estado de processo do monitor de sistema
GenericName[pt] = Monitor do Sistema
Name[hr] = Deepin nadzor sustava
Icon[hr] = deepin-nadzor-sustava
Comment[hr] = Nadzor statusa procesa sustava
GenericName[hr] = Nadzor sustava
Name[pt_BR] = Monitor do Sistema
Icon[pt_BR] = monitor-do-sistema
Comment[pt_BR] = Monitorar status do processo do sistema
GenericName[pt_BR] = Monitor do Sistema
Name[he] = צג המערכת של Deepin
Icon[he] = deepin-system-monitor
Comment[he] = הצגת מצב תהליך המערכת
GenericName[he] = צג המערכת
Name[ar] = مراقب نظام ديبين
Icon[ar] = deepin-system-monitor
Comment[ar] = مراقبة حالة العمليات في النظام
GenericName[ar] = مراقبة النظام
Name[sk] = Deepin Systémový Monitor
Icon[sk] = deepin-system-monitor
Comment[sk] = Stav procesu monitorovania systému
GenericName[sk] = Systémový Monitor
Name[es_419] = Monitor del sistema Deepin
Icon[es_419] = deepin-sistema-monitor
Comment[es_419] = Estado de proceso del monitor de sistema
GenericName[es_419] = Monitor del sistema
Name[es] = Monitor del sistema Deepin
Icon[es] = deepin-system-monitor
Comment[es] = Estado de proceso del monitor de sistema
GenericName[es] = Monitor del sistema
Name[ca] = Monitor del sistema del Deepin
Icon[ca] = monitor-sistema-deepin
Comment[ca] = Monitor de l'estat dels processos del sistema
GenericName[ca] = Monitor del sistema
Name[sl] = Sistemski nadzor Deepin
Icon[sl] = sistemski-nadzor-deepin
Comment[sl] = Stanje izvajanja sistemskega nadzora
GenericName[sl] = Sistemski nadzor
Name[fr] = Moniteur système Deepin
Icon[fr] = moniteur-système-deepin
Comment[fr] = Surveiller le statut des processus système
GenericName[fr] = Moniteur système
Name[da] = Deepin systemovervågning
Icon[da] = deepin-system-monitor
Comment[da] = Overvåg systemproces status
GenericName[da] = Systemovervågning
Name[ast] = Monitor del sistema Deepin
Icon[ast] = deepin-system-monitor
Comment[ast] = Monitoriza l'estáu de los procesos del sistema
GenericName[ast] = Monitor del sistema
Name[uk] = Системний Монітор Deepin
Icon[uk] = deepin-system-monitor
Comment[uk] = Моніторинг стану процесу системи
GenericName[uk] = Системний Монітор
Name[ro] = Monitor de sistem Deepin
Icon[ro] = deepin-system-monitor
Comment[ro] = Monitorizarea stării proceselor de sistem
GenericName[ro] = Monitor de sistem
Name[nl] = Deepin Systeemmonitor
Icon[nl] = deepin-systeem-monitor
Comment[nl] = Monitor systeemprocesstatus
GenericName[nl] = Systeemmonitor
Name[tr] = Deepin Sistem İzleyici
Icon[tr] = deepin-sistem-izleyici
Comment[tr] = Sistem işlem durumunu izleme
GenericName[tr] = Sistem İzleyici
Name[ug] = Deepin سىستېما نازارەتچىسى
Icon[ug] = Deepin سىستېما نازارەتچىسى
Comment[ug] = سىستېما جەريان ھالەتلىرىنى نازارەت قىلىش
GenericName[ug] = سىستېما نازارەتچىسى
Name[hu] = Deepin Rendszerfigyelő
Icon[hu] = deepin-system-monitor
Comment[hu] = A rendszer állapotának figyelése
GenericName[hu] = Rendszer figyelő
Name[zh_TW] = Deepin 系統監視器
Icon[zh_TW] = deepin-system-monitor
Comment[zh_TW] = 監視與控制系統運作情形
GenericName[zh_TW] = 系統監視器
Name[pl] = Monitor systemu Deepin
Icon[pl] = deepin-system-monitor
Comment[pl] = Monitoruje stan procesów systemowych
GenericName[pl] = Monitor systemu
Name[it] = Deepin System Monitor
Icon[it] = deepin-system-monitor
Comment[it] = Dashboard dello stato processi di Sistema
GenericName[it] = Dashboard di Sistema
Name[am_ET] = ዲፕኢን ስርአት መቆጣጠሪያ
Icon[am_ET] = ዲፕኢን-ስርአት-መቆጣጠሪያ
Comment[am_ET] = የ ስርአቱን ሂደት ሁኔታ መቆጣጠሪያ
GenericName[am_ET] = ስርአት መቆጣጠሪያ
Name[ru] = Системный монитор Deepin
Icon[ru] = deepin-system-monitor
Comment[ru] = Мониторинг состояния процесса системы
GenericName[ru] = Системный Монитор
Name[bg] = Deepin системен монитор
Icon[bg] = deepin-system-monitor
Comment[bg] = Монитор на състоянието на системните процеси
GenericName[bg] = Системен монитор
Name[id] = Pemantau Sistem Deepin
Icon[id] = pemantau-sistem-deepin
Comment[id] = Pantau status proses sistem
GenericName[id] = Pemantau Sistem
Name[sr] = Дипин Праћење Система
Icon[sr] = deepin-system-monitor
Comment[sr] = Прати статус процеса система
GenericName[sr] = Праћење Система
Icon[fi] = deepin-system-monitor
GenericName[nb] = Systemmonitor
Comment[gl_ES] = Estado dos procesos do monitor do sistema
Icon[gl_ES] = deepin-system-monitor
Name[gl_ES] = Monitor do sistema do Deepin
GenericName[gl_ES] = Monitor do sistema
