[Desktop Entry]
Categories=System;Qt;
Comment=Monitor system cpu, memory, network, process and service status
Exec=deepin-system-monitor
GenericName=System Monitor
Icon=deepin-system-monitor
Name=Deepin System Monitor
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ስርአቱን ሂደት ሁኔታ መቆጣጠሪያ
Comment[ar]=مراقبة حالة العمليات في النظام
Comment[ast]=Monitoriza l'estáu de los procesos del sistema
Comment[bg]=Монитор на състоянието на системните процеси
Comment[ca]=Monitor de l'estat dels processos del sistema
Comment[cs]=Stav procesu sledování systému
Comment[da]=Overvåg systemproces status
Comment[de]=Systemprozessstatus überwachen
Comment[es]=Estado de proceso del monitor de sistema
Comment[es_419]=Estado de proceso del monitor de sistema
Comment[fi]=aaa
Comment[fr]=Surveiller le statut des processus système
Comment[gl_ES]=Estado dos procesos do monitor do sistema
Comment[he]=הצגת מצב תהליך המערכת
Comment[hr]=Nadzor statusa procesa sustava
Comment[hu]=A rendszer állapotának figyelése
Comment[id]=Pantau status proses sistem
Comment[it]=Dashboard dello stato processi di Sistema
Comment[ja]=aaa
Comment[ko]=aaa
Comment[lt]=Stebėti sistemos procesų būseną
Comment[ms]=Pantau status proses sistem
Comment[ne]=aaa
Comment[nl]=Monitor systeemprocesstatus
Comment[pa]=aaa
Comment[pl]=Monitoruje stan procesów systemowych
Comment[pt]=Estado de processo do monitor de sistema
Comment[pt_BR]=Monitorar status do processo do sistema
Comment[ro]=Monitorizarea stării proceselor de sistem
Comment[ru]=Мониторинг состояния процесса системы
Comment[sk]=Stav procesu monitorovania systému
Comment[sl]=Stanje izvajanja sistemskega nadzora
Comment[sq]=aaa
Comment[sr]=Прати статус процеса система
Comment[sv]=aaa
Comment[tr]=Sistem işlem durumunu izleme
Comment[ug]=سىستېما جەريان ھالەتلىرىنى نازارەت قىلىش
Comment[uk]=Моніторинг стану процесу системи
Comment[zh_CN]=监控系统处理器，内存，网络，进程及服务状态
Comment[zh_TW]=監視與控制系統運作情形
GenericName[am_ET]=ስርአት መቆጣጠሪያ
GenericName[ar]=مراقبة النظام
GenericName[ast]=Monitor del sistema
GenericName[bg]=Системен монитор
GenericName[ca]=Monitor del sistema
GenericName[cs]=Sledovač systému
GenericName[da]=Systemovervågning
GenericName[de]=System Monitor
GenericName[es]=Monitor del sistema
GenericName[es_419]=Monitor del sistema
GenericName[fi]=aaa
GenericName[fr]=Moniteur système
GenericName[gl_ES]=Monitor do sistema
GenericName[he]=צג המערכת
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszer figyelő
GenericName[id]=Pemantau Sistem
GenericName[it]=Dashboard di Sistema
GenericName[ja]=aaa
GenericName[ko]=aaa
GenericName[lt]=Sistemos monitorius
GenericName[ms]=Pemantau Sistem
GenericName[nb]=Systemmonitor
GenericName[ne]=aaa
GenericName[nl]=Systeemmonitor
GenericName[pa]=aaa
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do Sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный Монитор
GenericName[sk]=Systémový Monitor
GenericName[sl]=Sistemski nadzor
GenericName[sq]=aaa
GenericName[sr]=Праћење Система
GenericName[sv]=aaa
GenericName[tr]=Sistem İzleyici
GenericName[ug]=سىستېما نازارەتچىسى
GenericName[uk]=Системний Монітор
GenericName[zh_CN]=系统监视器
GenericName[zh_TW]=系統監視器
Name[am_ET]=ዲፕኢን ስርአት መቆጣጠሪያ
Name[ar]=مراقب نظام ديبين
Name[ast]=Monitor del sistema Deepin
Name[bg]=Deepin системен монитор
Name[ca]=Monitor del sistema del Deepin
Name[cs]=Sledovač systému
Name[da]=Deepin systemovervågning
Name[de]=Deepin System Monitor
Name[es]=Monitor del sistema Deepin
Name[es_419]=Monitor del sistema Deepin
Name[fi]=aaa
Name[fr]=Moniteur système Deepin
Name[gl_ES]=Monitor do sistema do Deepin
Name[he]=צג המערכת של Deepin
Name[hr]=Deepin nadzor sustava
Name[hu]=Deepin Rendszerfigyelő
Name[id]=Pemantau Sistem Deepin
Name[it]=Deepin System Monitor
Name[ja]=aaa
Name[ko]=aaa
Name[lt]=Deepin sistemos monitorius
Name[ms]=Pemantau Sistem Deepin
Name[ne]=aaa
Name[nl]=Deepin Systeemmonitor
Name[pa]=aaa
Name[pl]=Monitor systemu Deepin
Name[pt]=Deepin System Monitor
Name[pt_BR]=Monitor do Sistema
Name[ro]=Monitor de sistem Deepin
Name[ru]=Системный монитор Deepin
Name[sk]=Deepin Systémový Monitor
Name[sl]=Sistemski nadzor Deepin
Name[sq]=aaa
Name[sr]=Дипин Праћење Система
Name[sv]=aaa
Name[tr]=Deepin Sistem İzleyici
Name[ug]=Deepin سىستېما نازارەتچىسى
Name[uk]=Системний Монітор Deepin
Name[zh_CN]=系统监视器
Name[zh_TW]=Deepin 系統監視器

