[Unit]
Description=Deepin System Monitor Daemon
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/deepin-system-monitor-daemon --systemd
Restart=always
RestartSec=1
OOMScoreAdjust=-250

[Install]
WantedBy=default.target
