[Desktop Entry]
Exec=/usr/bin/deepin-system-monitor-daemon
Name=deepin-system-monitor-daemon
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
