[Desktop Entry]
Exec=env GIO_LAUNCHED_DESKTOP_FILE=/usr/bin/applications/deepin-system-monitor-plugin-popup.desktop /usr/bin/deepin-system-monitor-plugin-popup
Name=deepin-system-monitor-plugin-popup
NotShowIn=GNOME;Unity;
Type=Application
X-Deepin-Vendor=user-custom
