[Unit]
Description=Deepin system monitor system server

[Service]
Type=dbus
BusName=org.deepin.SystemMonitorSystemServer
User=root
ExecStart=/usr/lib/deepin-daemon/deepin-system-monitor-system-server
StandardOutput=syslog
MemoryMax=1G
IOWeight=200
ProtectSystem=full
ProtectHome=true
ProtectProc=invisible
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=false
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
LimitMEMLOCK=infinity
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_KILL CAP_BPF CAP_PERFMON CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_PTRACE CAP_KILL CAP_BPF CAP_PERFMON CAP_SYS_ADMIN
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/NetworkManager/system-connections/
InaccessiblePaths=-/etc/pam.d/
InaccessiblePaths=-/etc/security/
InaccessiblePaths=-/etc/selinux/
InaccessiblePaths=-/etc/deepin-elf-verify/
InaccessiblePaths=-/etc/filearmor.d/
InaccessiblePaths=-/etc/crypttab
InaccessiblePaths=-/etc/fstab
InaccessiblePaths=-/sysroot/ostree/repo/
InaccessiblePaths=-/persistent/ostree/repo/
InaccessiblePaths=-/usr/share/uadp
InaccessiblePaths=-/etc/sudoers
InaccessiblePaths=-/etc/sudoers.d
InaccessiblePaths=-/root
InaccessiblePaths=-/var/log
InaccessiblePaths=-/var/cache
OOMScoreAdjust=-500
Nice=-5
