[Unit]
Description=Deepin system monitor system server

[Service]
Type=dbus
BusName=com.deepin.SystemMonitorSystemServer
ExecStart=/usr/lib/deepin-daemon/deepin-system-monitor-system-server
StandardOutput=syslog
CapabilityBoundingSet=~
MemoryLimit=1G
IOWeight=200