<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>LinuxDeepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="org.deepin.systemmonitor.systemserver.set">
		<description>Set service startup type</description>
		<message>Authentication is required to set service startup type</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/deepin-system-monitor</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ar">تعيين نوع بدء تشغيل الخدمة</description>
		<message xml:lang="ar">المصادقة مطلوبة لتعيين نوع بدء تشغيل الخدمة</message>
		<description xml:lang="az">Xidmətin başladılma növünü təyin edin</description>
		<message xml:lang="az">Xidmətin başladılma növünü təyin etmək üçün doğrulama tələb olunur</message>
		<description xml:lang="bo">ཞབས་ཞུའི་འགོ་སློང་བྱེད་ཐབས་སྒྲིག་འགོད་བྱེད་པ།</description>
		<message xml:lang="bo">ཞབས་ཞུའི་འགོ་སློང་ཐབས་སྒྲིག་འགོད་བྱེད་པར་དཔང་དཔྱད་བྱ་དགོས།</message>
		<description xml:lang="br">Termeniñ doare loc'hañ ar servij</description>
		<message xml:lang="br">An anaoudadur a zo rekis evit termeniñ an doare loc'hañ servij</message>
		<description xml:lang="ca">Establiu el tipus d'inici del servei</description>
		<message xml:lang="ca">Cal autenticació per establir el tipus d'inici del servei.</message>
		<description xml:lang="cs">Nastavit typ spouštění služby</description>
		<message xml:lang="cs">Pro nastavení typu spouštění služby je třeba ověření se</message>
		<description xml:lang="da">Indstil tjenestens opstartstype</description>
		<message xml:lang="da">Der kræves autentifikation for at indstille tjenestens opstartstype</message>
		<description xml:lang="de">Dienst-Starttyp einstellen</description>
		<message xml:lang="de">Authentifizierung ist erforderlich, um den Starttyp des Dienstes einzustellen</message>
		<description xml:lang="es">Establecer tipo de inicio del servicio</description>
		<message xml:lang="es">Se requiere autenticación para establecer el tipo de servicio de inicio</message>
		<description xml:lang="fi">Palvelun käynnistystyypin vaihto</description>
		<message xml:lang="fi">Palvelun käynnistystyypin vaihtamiseen vaaditaan todennus</message>
		<description xml:lang="fr">Définir le type de démarrage du service</description>
		<message xml:lang="fr">L'authentification est requise pour définir le type de démarrage du service</message>
		<description xml:lang="gl_ES">Estableza o tipo de inicio de servizo</description>
		<message xml:lang="gl_ES">A autenticación é necesaria para configurar o tipo de inicio de servizo</message>
		<description xml:lang="hu">Állítsa be a szolgáltatás indítási típusát</description>
		<message xml:lang="hu">Hitelesítés szükséges a szolgáltatás indítási típusának beállításához</message>
		<description xml:lang="id">Setel tipe layanan startup</description>
		<message xml:lang="id">Autentikasi diperlukan untuk menyetel tipe layanan startup</message>
		<description xml:lang="it">Imposta tipo di avvio del servizio</description>
		<message xml:lang="it">Autenticazione richiesta per variare il tipo di avvio automatico</message>
		<description xml:lang="ko">서비스 시작 유형 설정</description>
		<message xml:lang="ko">서비스 시작 유형을 설정하려면 인증이 필요합니다.</message>
		<description xml:lang="ms">Tetapkan jenis permulaan perkhidmatan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk menetapkan jenis permulaan perkhidmatan</message>
		<description xml:lang="nl">Soort opstart instellen</description>
		<message xml:lang="nl">Voer je wachtwoord in om het soort opstart in te stellen</message>
		<description xml:lang="pl">Ustaw typ uruchomienia usługi</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić typ uruchamiania usługi</message>
		<description xml:lang="pt">Definir o tipo de arranque do serviço</description>
		<message xml:lang="pt">É necessária a autenticação para definir o tipo de arranque do serviço</message>
		<description xml:lang="pt_BR">Definir o tipo de inicialização do serviço</description>
		<message xml:lang="pt_BR">A autenticação é necessária para definir o tipo de inicialização do serviço</message>
		<description xml:lang="ru">Задать тип запуска службы</description>
		<message xml:lang="ru">Требуется  аутентификация для установки типа запуска службы </message>
		<description xml:lang="sq">Caktoni lloj nisjeje shërbimi</description>
		<message xml:lang="sq">Që të caktohet lloj nisjeje shërbimi, lyspet mirëfilltësim</message>
		<description xml:lang="sr">Постави режим покретања услуге</description>
		<message xml:lang="sr">Идентификација је неопходна за поставку режима покретања услуга</message>
		<description xml:lang="tr">Hizmet başlangıç ​​türünü ayarla</description>
		<message xml:lang="tr">Hizmet başlangıç ​​türünü ayarlamak için kimlik doğrulaması gerekli</message>
		<description xml:lang="ug">مۇلازىمەت باشلاش تىپىنى بەلگىلەش</description>
		<message xml:lang="ug">مۇلازىمەت باشلاش تىپىنى تەڭشەش ئۈچۈن دەلىللەش تەلەپ قىلىنىدۇ</message>
		<description xml:lang="uk">Встановлення типу запуску служби</description>
		<message xml:lang="uk">Для встановлення типу запуску служби слід пройти розпізнавання</message>
		<description xml:lang="zh_CN">设置服务的启动方式</description>
		<message xml:lang="zh_CN">设置服务的启动方式需要认证</message>
		<description xml:lang="zh_HK">設置服務的啟動方式</description>
		<message xml:lang="zh_HK">設置服務的啟動方式需要認證</message>
		<description xml:lang="zh_TW">設定服務的啟動方式</description>
		<message xml:lang="zh_TW">設定服務的啟動方式需要認證</message>
	</action>
</policyconfig>
