<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>Deepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.deepin-system-monitor.renice">
		<description>Renice process</description>
		<message>Authentication is required to change process priority</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/renice</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ar">Renice العملية</description>
		<message xml:lang="ar">المصادقة مطلوبة لتغيير أولوية العملية</message>
		<description xml:lang="it">Modifica proprità del Processo</description>
		<message xml:lang="it">Autenticazione richiesta per variare la priorità del Processo</message>
		<description xml:lang="pt">Renice processo</description>
		<message xml:lang="pt">É necessária a autenticação para alterar a prioridade do processo</message>
		<description xml:lang="nl">Proriteit aanpassen</description>
		<message xml:lang="nl">Voer je wachtwoord in om de procespriorieit aan te passen</message>
		<description xml:lang="fr">Processus Renice</description>
		<message xml:lang="fr">Une authentification est requise pour modifier la priorité du processus</message>
		<description xml:lang="de">Renice-Prozess</description>
		<message xml:lang="de">Zum Ändern der Prozesspriorität ist eine Authentifizierung erforderlich</message>
		<description xml:lang="ko">Renice 프로세스</description>
		<message xml:lang="ko">프로세스 우선 순위를 변경하려면 인증이 필요합니다</message>
		<description xml:lang="zh_TW">更改程序nice值</description>
		<message xml:lang="zh_TW">改變程序優先度需要認證</message>
		<description xml:lang="tr">Yenileme süreci</description>
		<message xml:lang="tr">İşlem önceliğini değiştirmek için kimlik doğrulama gerekiyor</message>
		<description xml:lang="ru">Изменить приоритет процесса</description>
		<message xml:lang="ru">Для изменения приоритета процесса требуется аутентификация </message>
		<description xml:lang="es">Reiniciar proceso</description>
		<message xml:lang="es">Se requiere autenticación para cambiar la prioridad del proceso</message>
		<description xml:lang="da">Renice proces</description>
		<message xml:lang="da">Der kræves autentifikation for at skifte procesprioritet</message>
		<description xml:lang="cs">Změnit prioritu procesu</description>
		<message xml:lang="cs">Pro změnu priority procesu je třeba ověřit se</message>
		<message xml:lang="zh_CN">更改进程优先级需要授权</message>
		<description xml:lang="sr">Renice процес</description>
		<message xml:lang="sr">Аутентификација је неопходна за промену приоритета процеса</message>
		<description xml:lang="ms">Elok balik proses</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk mengubah keutamaan proses</message>
		<description xml:lang="pt_BR">Alterar prioridade do processo</description>
		<message xml:lang="pt_BR">É necessário autenticar-se para alterar a prioridade do processo</message>
		<description xml:lang="ca">Reinicia el procés</description>
		<message xml:lang="ca">Cal autenticació per canviar la prioritat del procés.</message>
		<description xml:lang="fi">Muuta prioriteettia</description>
		<message xml:lang="fi">Prosessin prioriteetin vaihtaminen edellyttää todennusta</message>
		<description xml:lang="uk">Зміна пріоритетності процесу</description>
		<message xml:lang="uk">Для зміни пріоритетності процесу слід пройти розпізнавання</message>
	</action>
	<action id="com.deepin.pkexec.deepin-system-monitor.kill">
		<description>Kill process</description>
		<message>Authentication is required to control other users' processes</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kill</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ar">قتل العملية</description>
		<message xml:lang="ar">المصادقة مطلوبة للتحكم في عمليات المستخدمين الآخرين</message>
		<description xml:lang="it">Termina processo</description>
		<message xml:lang="it">Autenticazione richiesta per gestire i processi di altri utenti</message>
		<description xml:lang="pt">Matar processo</description>
		<message xml:lang="pt">É necessária autenticação para controlar os processos de outros utilizadores</message>
		<description xml:lang="nl">Geforceerd beëindigen</description>
		<message xml:lang="nl">Je dient gemachtigd te zijn om processen van andere gebruikers te beheren</message>
		<description xml:lang="fr">Tuer le processus</description>
		<message xml:lang="fr">L'authentification est requise pour contrôler les processus des autres utilisateurs</message>
		<description xml:lang="de">Prozess abwürgen</description>
		<message xml:lang="de">Authentifizierung ist erforderlich, um die Prozesse anderer Benutzer zu steuern</message>
		<description xml:lang="ko">Kill 프로세스</description>
		<message xml:lang="ko">다른 사용자의 프로세스를 제어하려면 인증이 필요합니다</message>
		<description xml:lang="zh_TW">強制結束程序</description>
		<message xml:lang="zh_TW">控制其他使用者的程序需要認證</message>
		<description xml:lang="tr">Süreçleri öldür</description>
		<message xml:lang="tr">Diğer kullanıcıların işlemlerini kontrol etmek için kimlik doğrulaması gerekiyor</message>
		<description xml:lang="ru">Убить процесс</description>
		<message xml:lang="ru">Для управления процессами других пользователей требуется аутентификация </message>
		<description xml:lang="es">Matar proceso</description>
		<message xml:lang="es">Se requieren autenticación para controlar los procesos de otros usuarios</message>
		<description xml:lang="da">Dræb proces</description>
		<message xml:lang="da">Der kræves autentifikation for at styre andre brugeres processer</message>
		<description xml:lang="cs">Vynutit ukončení procesu</description>
		<message xml:lang="cs">Pro ovládání procesů ostatních uživatelů je třeba se ověřit</message>
		<message xml:lang="zh_CN">控制其他用户的进程需要授权</message>
		<description xml:lang="sr">Убиј процес</description>
		<message xml:lang="sr">Аутентификација је неопходна за управљање процесима других корисника</message>
		<description xml:lang="ms">Bunuh proses</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk mengawal proses-proses pengguna yang lain</message>
		<description xml:lang="pt_BR">Interromper processo</description>
		<message xml:lang="pt_BR">A autenticação é necessária para controlar os processos de outros usuários</message>
		<description xml:lang="ca">Mata el procés</description>
		<message xml:lang="ca">Cal autenticació per controlar els processos d'altres usuaris.</message>
		<description xml:lang="fi">Tapa prosessi</description>
		<message xml:lang="fi">Todennus vaaditaan muiden käyttäjien prosessien hallitsemiseksi</message>
		<description xml:lang="uk">Вбити процес</description>
		<message xml:lang="uk">Для керування процесами інших користувачів слід пройти розпізнавання</message>
	</action>
	<action id="com.deepin.pkexec.deepin-system-monitor.systemctl">
		<description>Set service startup type</description>
		<message>Authentication is required to set service startup type</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ar">تعيين نوع بدء تشغيل الخدمة</description>
		<message xml:lang="ar">المصادقة مطلوبة لتعيين نوع بدء تشغيل الخدمة</message>
		<description xml:lang="it">Imposta tipo di avvio del servizio</description>
		<message xml:lang="it">Autenticazione richiesta per variare il tipo di avvio automatico</message>
		<description xml:lang="pt">Definir o tipo de arranque do serviço</description>
		<message xml:lang="pt">É necessária a autenticação para definir o tipo de arranque do serviço</message>
		<description xml:lang="nl">Soort opstart instellen</description>
		<message xml:lang="nl">Voer je wachtwoord in om het soort opstart in te stellen</message>
		<description xml:lang="fr">Définir le type de démarrage du service</description>
		<message xml:lang="fr">L'authentification est requise pour définir le type de démarrage du service</message>
		<description xml:lang="de">Dienst-Starttyp einstellen</description>
		<message xml:lang="de">Authentifizierung ist erforderlich, um den Starttyp des Dienstes einzustellen</message>
		<description xml:lang="ko">서비스 시작 유형 설정</description>
		<message xml:lang="ko">서비스 시작 유형을 설정하려면 인증이 필요합니다.</message>
		<description xml:lang="zh_TW">設定服務的啟動方式</description>
		<message xml:lang="zh_TW">設定服務的啟動方式需要認證</message>
		<description xml:lang="tr">Hizmet başlangıç ​​türünü ayarla</description>
		<message xml:lang="tr">Hizmet başlangıç ​​türünü ayarlamak için kimlik doğrulaması gerekli</message>
		<description xml:lang="ru">Задать тип запуска службы</description>
		<message xml:lang="ru">Аутентификация требуется для установки типа запуска службы </message>
		<description xml:lang="es">Establecer tipo de inicio del servicio</description>
		<message xml:lang="es">Se requiere autenticación para establecer tipo de inicio del servicio</message>
		<description xml:lang="da">Indstil tjenestens opstartstype</description>
		<message xml:lang="da">Der kræves autentifikation for at indstille tjenestens opstartstype</message>
		<description xml:lang="cs">Nastavit typ spouštění služby</description>
		<message xml:lang="cs">Pro nastavení typu spouštění služby je třeba ověření se</message>
		<message xml:lang="zh_CN">设置进程启动方式需要授权</message>
		<description xml:lang="sr">Постави режим покретања услуге</description>
		<message xml:lang="sr">Аутентификација је неопходна за поставку режима покретања услуга</message>
		<description xml:lang="ms">Tetapkan jenis permulaan perkhidmatan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk menetapkan jenis permulaan perkhidmatan</message>
		<description xml:lang="pt_BR">Definir o tipo de inicialização do serviço</description>
		<message xml:lang="pt_BR">A autenticação é necessária para definir o tipo de inicialização do serviço</message>
		<description xml:lang="ca">Establiu el tipus d'inici del servei</description>
		<message xml:lang="ca">Cal autenticació per establir el tipus d'inici del servei.</message>
		<description xml:lang="fi">Palvelun käynnistystyypin vaihto</description>
		<message xml:lang="fi">Palvelun käynnistystyypin vaihtamiseen vaaditaan todennus</message>
		<description xml:lang="uk">Встановлення типу запуску служби</description>
		<message xml:lang="uk">Для встановлення типу запуску служби слід пройти розпізнавання</message>
	</action>
</policyconfig>
