[Desktop Entry]
Categories=System;Qt;
Comment=Monitor system process status
Exec=deepin-system-monitor
GenericName=System Monitor
Icon=deepin-system-monitor
Name=Deepin System Monitor
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ስርአቱን ሂደት ሁኔታ መቆጣጠሪያ
Comment[ar]=مراقبة وحدة المعالجة المركزية للنظام والذاكرة والشبكة والعملية وحالة الخدمة
Comment[ast]=Monitoriza l'estáu de los procesos del sistema
Comment[bg]=Монитор на състоянието на системните процеси
Comment[ca]=Superviseu l'estat del processador, memòria, xarxa, processos i serveis del sistema
Comment[cs]=Systémové prostředky – využití procesoru, operační paměti, sítě; stav procesů a služeb
Comment[da]=Overvåg systemets status for CPU, hukommelse, netværk, proces og tjeneste
Comment[de]=System-CPU, Speicher, Netzwerk, Prozess- und Dienststatus überwachen
Comment[es]=Monitorice el CPU del sistema, la memoria, la red, el proceso y el estado del servicio
Comment[es_419]=Estado de proceso del monitor de sistema
Comment[fi]=Tarkkaile järjestelmän prosessorin, muistin, verkon ja palveluiden tilaa
Comment[fr]=Surveiller le processeur, la mémoire, le réseau, l'état des processus et des services
Comment[gl_ES]=Estado dos procesos do monitor do sistema
Comment[he]=הצגת מצב תהליך המערכת
Comment[hr]=Nadzor statusa procesa sustava
Comment[hu]=A rendszer állapotának figyelése
Comment[id]=Pantau status proses sistem
Comment[it]=Controlla lo stato della CPU di Sistema, la Memoria, la Rete, i Processi ed i Servizi
Comment[ja]=Monitor system cpu, memory, network, process and service status
Comment[ko]=시스템 CPU, 메모리, 네트워크, 프로세스 및 서비스 상태 모니터링
Comment[lt]=Stebėti sistemos procesų būseną
Comment[ms]=Pantau status cpu, ingatan, rangkaian, proses dan perkhidmatan sistem
Comment[ne]=प्रणाली सीपीयू, मेमोरी, नेटवर्क, प्रक्रिया र सेवा स्थिति मोनिटर गर्नुहोस्
Comment[nl]=Monitor systeemprocessen, geheugengebruik en achtergronddiensten
Comment[pa]=Monitor system cpu, memory, network, process and service status
Comment[pl]=Monitoruje stan procesów systemowych
Comment[pt]=Monitorizar a cpu do sistema, memória, rede, processo e estado do serviço
Comment[pt_BR]=Monitora o estado do processador, memórias, rede, processos e serviços do sistema
Comment[ro]=Monitorizarea stării proceselor de sistem
Comment[ru]=Системный монитор ЦП, Память, Сеть, Процессы и Сервисы
Comment[sk]=Stav procesu monitorovania systému
Comment[sl]=Stanje izvajanja sistemskega nadzora
Comment[sq]=Monitor system cpu, memory, network, process and service status
Comment[sr]=Пратите статусе ЦПЈ-а, меморије, мреже, процеса и услуга
Comment[sv]=Monitor system cpu, memory, network, process and service status
Comment[tr]=Sistem işlemci, bellek, ağ, işlem ve hizmet durumunu izle
Comment[ug]=سىستېما جەريان ھالەتلىرىنى نازارەت قىلىش
Comment[uk]=Спостереження за станом процесора, пам'яті, мережі, процесів та служб системи
Comment[zh_CN]=监控系统CPU，内存，网络，进程和服务状态
Comment[zh_TW]=監控系統CPU，記憶體，網路，程序和服務狀態
GenericName[am_ET]=ስርአት መቆጣጠሪያ
GenericName[ar]=مراقب النظام
GenericName[ast]=Monitor del sistema
GenericName[bg]=Системен монитор
GenericName[ca]=Monitor del sistema
GenericName[cs]=Systémové prostředky
GenericName[da]=Systemovervågning
GenericName[de]=System Monitor
GenericName[es]=Monitor del sistema
GenericName[es_419]=Monitor del sistema
GenericName[fi]=Järjestelmän valvonta
GenericName[fr]=Moniteur système
GenericName[gl_ES]=Monitor do sistema
GenericName[he]=צג המערכת
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszer figyelő
GenericName[id]=Pemantau Sistem
GenericName[it]=Gestore Attività
GenericName[ja]=System Monitor
GenericName[ko]=시스템 모니터
GenericName[lt]=Sistemos monitorius
GenericName[ms]=Pemantau Sistem
GenericName[nb]=Systemmonitor
GenericName[ne]=प्रणाली मनिटर
GenericName[nl]=Systeemmonitor
GenericName[pa]=System Monitor
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor de Sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный Монитор
GenericName[sk]=Systémový Monitor
GenericName[sl]=Sistemski nadzor
GenericName[sq]=System Monitor
GenericName[sr]=Праћење Система
GenericName[sv]=System Monitor
GenericName[tr]=Sistem İzleyici
GenericName[ug]=سىستېما نازارەتچىسى
GenericName[uk]=Монітор системи
GenericName[zh_CN]=系统监视器
GenericName[zh_TW]=系統監視器
Name[am_ET]=ዲፕኢን ስርአት መቆጣጠሪያ
Name[ar]=مراقب نظام ديبين
Name[ast]=Monitor del sistema Deepin
Name[bg]=Deepin системен монитор
Name[ca]=Monitor del sistema del Deepin
Name[cs]=Systémové prostředky
Name[da]=Deepin systemovervågning
Name[de]=Deepin System Monitor
Name[es]=Monitor del sistema Deepin
Name[es_419]=Monitor del sistema Deepin
Name[fi]=Deepin järjestelmän valvonta
Name[fr]=Moniteur Système Deepin
Name[gl_ES]=Monitor do sistema do Deepin
Name[he]=צג המערכת של Deepin
Name[hr]=Deepin nadzor sustava
Name[hu]=Deepin Rendszerfigyelő
Name[id]=Pemantau Sistem Deepin
Name[it]=Gestore Attività di Deepin
Name[ja]=Deepin System Monitor
Name[ko]=Deepin 시스템 모니터
Name[lt]=Deepin sistemos monitorius
Name[ms]=Pemantau Sistem Deepin
Name[ne]=डिपिन प्रणाली मनिटर
Name[nl]=Deepin Systeemmonitor
Name[pa]=Deepin System Monitor
Name[pl]=Monitor systemu Deepin
Name[pt]=Monitor do Sistema Deepin
Name[pt_BR]=Deepin Monitor de Sistema
Name[ro]=Monitor de sistem Deepin
Name[ru]=Системный Монитор Deepin
Name[sk]=Deepin Systémový Monitor
Name[sl]=Sistemski nadzor Deepin
Name[sq]=Deepin System Monitor
Name[sr]=Дипин Праћење Система
Name[sv]=Deepin System Monitor
Name[tr]=Deepin Sistem İzleyici
Name[ug]=Deepin سىستېما نازارەتچىسى
Name[uk]=Монітор системи Deepin
Name[zh_CN]=深度系统监视器
Name[zh_TW]=Deepin 系統監視器

