[Desktop Entry]
Categories=System;Qt;
Comment=Monitor system process status
Exec=deepin-system-monitor
GenericName=System Monitor
Icon=deepin-system-monitor
Name=deepin System Monitor
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ስርአቱን ሂደት ሁኔታ መቆጣጠሪያ
Comment[ar]=مراقبة حالة العمليات في النظام
Comment[ast]=Supervisa l'estáu de los procesos del sistema
Comment[az]=Sistem prosesi vəziyyətinin izlənməsi
Comment[bg]=Монитор на състоянието на системните процеси
Comment[bo]=མ་ལག་བརྒྱུད་རིམ་ལྟ་སྐུལ་ཚོད་འཛིན་བྱེད་པའི་རྣམ་པ།
Comment[br]=Status ar prosesus sistem Monitor
Comment[ca]=Monitor de l'estat dels processos del sistema
Comment[cs]=Sledovat stav systémových procesů
Comment[da]=Overvåg systemproces status
Comment[de]=Zeigt den Status von Systemprozessen an
Comment[en]=Monitor system process status
Comment[es]=Monitor de procesos del sistema
Comment[es_419]=Estado de proceso del monitor de sistema
Comment[fa]=وضعیت فرآیند پایشگر سیستم
Comment[fi]=Seuraa järjestelmän prosessien tilaa
Comment[fr]=Surveiller l'état des processus du système
Comment[gl_ES]=Estado dos procesos do monitor do sistema
Comment[he]=הצגת מצב תהליך המערכת
Comment[hi_IN]=सिस्टम प्रक्रियाओं की स्थिति मॉनिटर करें
Comment[hr]=Nadzor statusa procesa sustava
Comment[hu]=A rendszer állapotának figyelése
Comment[id]=Memantau status proses sistem
Comment[it]=Monitor dello stato dei processi di Sistema
Comment[ja]=システムプロセスの状態を監視します
Comment[ko]=시스템 프로세스 상태 모니터
Comment[lo]=ຕິດຕາມສະຖານະຂະບວນການລະບົບ
Comment[lt]=Stebėti sistemos procesų būseną
Comment[ms]=Pantau status proses sistem
Comment[ne]=मनिटर प्रणाली प्रक्रिया स्थिति
Comment[nl]=Monitor systeemprocesstatus
Comment[pa]=ਸਿਸਟਮ ਕਾਰਵਾਈ ਹਾਲਤ ਨਿਗਰਾਨੀ
Comment[pl]=Monitoruje stan procesów systemowych
Comment[pt]=Monitorizar o estado do processo do sistema
Comment[pt_BR]=Monitorar o estado dos processos do sistema
Comment[ro]=Monitorizați starea proceselor sistemului
Comment[ru]=Монитор состояния системного процесса
Comment[sk]=Stav procesu monitorovania systému
Comment[sl]=Stanje izvajanja sistemskega nadzora
Comment[sq]=Mbikëqyrni gjendje procesesh sistemi
Comment[sr]=Пратите стања системских процеса
Comment[sv]=Övervaka systemprocessers status
Comment[tr]=Sistem işlem durumunu izleyin
Comment[ug]=سىستېما جەريان ھالەتلىرىنى نازارەت قىلىش
Comment[uk]=Спостереження за станом процесів системи
Comment[zh_CN]=监控系统进程状态
Comment[zh_HK]=監控系統進程狀態
Comment[zh_TW]=監視系統程式狀態
GenericName[am_ET]=ስርአት መቆጣጠሪያ
GenericName[ar]=مراقب النظام
GenericName[ast]=Supervisor del sistema
GenericName[az]=Sistem İzləyici
GenericName[bg]=Системен монитор
GenericName[bo]=མ་ལག་ལྟ་སྲུང་ཆས།
GenericName[br]=Monitor sistem
GenericName[ca]=Monitor del sistema
GenericName[cs]=Monitor systémových prostředků
GenericName[da]=Systemovervågning
GenericName[de]=Systemmonitor
GenericName[en]=System Monitor
GenericName[es]=Monitor del sistema
GenericName[es_419]=Monitor del sistema
GenericName[fa]=پایشگر سیستم
GenericName[fi]=Järjestelmän valvonta
GenericName[fr]=Moniteur système
GenericName[gl_ES]=Monitor do sistema
GenericName[he]=צג המערכת
GenericName[hi_IN]=सिस्टम मॉनिटर
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszerfigyelő
GenericName[id]=Pemantau Sistem
GenericName[it]=Gestore Attività
GenericName[ja]=システムモニター
GenericName[ko]=시스템 모니터
GenericName[lt]=Sistemos monitorius
GenericName[ms]=Pemantau Sistem
GenericName[nb]=Systemmonitor
GenericName[ne]=प्रणाली मनिटर
GenericName[nl]=Systeemmonitor
GenericName[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor de Sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный Монитор
GenericName[sk]=Systémový monitor
GenericName[sl]=Sistemski nadzor
GenericName[sq]=Mbikëqyrës Sistemi
GenericName[sr]=Праћење Система
GenericName[sv]=Systemövervakning
GenericName[tr]=Sistem İzleyici
GenericName[ug]=سىستېما نازارەتچىسى
GenericName[uk]=Нагляд за системою
GenericName[lo]=ເຄື່ອງຕິດຕາມລະບົບ
GenericName[zh_CN]=系统监视器
GenericName[zh_HK]=系統監視器
GenericName[zh_TW]=系統監視器
Name[ar]=مراقب النظام
Name[az]=deepin Sistem izləyicisi
Name[bo]=deepin མ་ལག་ལྟ་སྲུང་ཆས།
Name[ca]=Monitor del sistema del Deepin
Name[cs]=Deepin Monitor systémových prostředků
Name[de]=deepin Systemmonitor
Name[en]=deepin System Monitor
Name[es]=Monitor del sistema deepin
Name[es_419]=Monitor del sistema Deepin
Name[fi]=deepin Järjestelmän valvonta
Name[fr]=Moniteur système deepin
Name[hu]=Deepin® Rendszerfigyelő
Name[id]=Monitor Sistem Deepin
Name[it]=Gestore Attività di Deepin
Name[ms]=Pemantau Sistem deepin
Name[nl]=Deepin Systeemmonitor
Name[pl]=Monitor systemu Deepin
Name[pt]=Monitor do Sistema deepin
Name[pt_BR]=deepin Monitor de Sistema
Name[ru]=Системный монитор deepin
Name[sq]=Mbikëqyrës Sistemi deepin
Name[tr]=Deepin Sistem İzleyici
Name[ug]=deepin سىستېما نازارەتچىسى
Name[uk]=Монітор системи Deepin
Name[lo]=deepin ເຄື່ອງຕິດຕາມລະບົບ
Name[zh_CN]=深度系统监视器
Name[zh_HK]=deepin 系統監視器
Name[zh_TW]=deepin 系統監視器

