<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>Deepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.deepin-system-monitor-syscfg-tool">
		<description>Change system settings</description>
		<message>Authentication is required to change system settings</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/deepin-system-monitor-syscfg-tool</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<message xml:lang="zh_CN">修改系统参数需要授权</message>
	</action>
</policyconfig>
