Source: deepin-system-monitor
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 11), qt5-qmake, qtbase5-dev, pkg-config, libdtkwidget-dev, libxcb1-dev, libqt5x11extras5-dev, libprocps-dev, libxext-dev, libpcap-dev, qttools5-dev-tools, libdtkcore5-bin, libdtkwm2, libdtkwm-dev, libicu-dev, deepin-gettext-tools, libxcb-util0-dev, libncurses-dev, libdtkcore-bin
Standards-Version: 3.9.8
Homepage: https://github.com/manateelazycat/deepin-system-monitor

Package: deepin-system-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2-bin
Description: Deepin system monitor: a more user-friendly system monitor.
 A system monitor tool for Deepin.
