<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>Deepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.deepin-system-monitor.renice">
		<description>Renice process</description>
		<message>Authentication is required to change process priority</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/renice</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<message xml:lang="zh_CN">更改进程优先级需要授权</message>
	</action>
	<action id="com.deepin.pkexec.deepin-system-monitor.kill">
		<description>Kill process</description>
		<message>Authentication is required to control other users' processes</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kill</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<message xml:lang="zh_CN">控制其他用户的进程需要授权</message>
	</action>
	<action id="com.deepin.pkexec.deepin-system-monitor.systemctl">
		<description>Set service startup type</description>
		<message>Authentication is required to set service startup type</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<message xml:lang="zh_CN">设置进程启动方式需要授权</message>
	</action>
</policyconfig>
